// -/- BUTTONS -/-

@mixin top-mobile-hamburger($color, $position){
  position: relative;
  &::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 60px;
    height: 10px;
    background-color: $color;
    border-radius: 10px;
  }
  &::before{
    position: absolute;
    top: 20px;
    left: $position;
    content: "";
    display: inline-block;
    width: 40px;
    height: 10px;
    background-color: $color;
    border-radius: 10px;
  }
  & > div{
    position: absolute;
    top: 40px;
    display: inline-block;
    width: 60px;
    height: 10px;
    background-color: $color;
    border-radius: 10px;
  }
}

@mixin basic-btn($color){
  color: white;
  border-radius: 50px;
  background-color: $color;
  border: 3px solid $color;
  text-align: center;
  @media (min-width: $tablet) {
    &:hover{
      background-color: white;
      color: $color;
    }
  }
}
@mixin basic-btn-no-hover($text-color, $background-color, $border-color){
  color: $text-color;
  border-radius: 50px;
  background-color: $background-color;
  border: 2px solid $border-color;
  text-align: center;
  font-weight: 700;
}
@mixin basic-btn-no-hover-with-cross($text-color, $background-color, $border-color, $cross-size){
  color: $text-color;
  border-radius: 50px;
  background-color: $background-color;
  border: 2px solid $border-color;
  text-align: center;
  font-weight: 700;
  & > img{
    width: $cross-size;
  }
}

@mixin nav-header-btn($color, $hover-color){
  //GENERAL
  font-size: 22px;
  font-family: 'Comfortaa', cursive;
  color: $color;
  text-align: center;

  @media (min-width: $tablet) {
    display: inline-block;
    position: relative;
    transition: color 250ms;
    width: 200px;
    &:hover {
      color: $hover-color;
      &::after {
        animation: top-nav-hover 250ms ease-in-out forwards;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background-color: $hover-color;
      }
    }
    &::after {
      left: 95px;
      bottom: -25px;
      position: absolute;
      opacity: 0;
      content: " ";
    }
  }
}

// -/- ANIMATIONS -/-

@keyframes top-nav-hover {
  0%{
    transform: scaleX(0);
    transform: scaleY(0);
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: scaleX(1);
    transform: scaleY(1);
    transform: translateY(-10px);
  }
}