// -/- COLORS -/-
$blue: #364462;
$orange: #EF7852;
$ivory: #F3EBDB;

// -/- MEDIA QUERIES SIZES -/-

$mobile: 480px;
$tablet: 1224px;
$screen: 1824px;

// -/- FONTS -/-
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
// font-family: 'Comfortaa', cursive;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
// font-family: 'Raleway', sans-serif;

// -/- GLOBAL -/-

*{
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}