// -/- COLORS -/-
$blue: #364462;
$orange: #EF7852;
$ivory: #F3EBDB;

// -/- FONTS -/-
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
// font-family: 'Comfortaa', cursive;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
// font-family: 'Raleway', sans-serif;

// -/- GLOBAL -/-

*{
  list-style-type: none;
}