// -/ MOBILE /-
@media (max-width: $mobile){

//.services_nos-services
  .services_nos-services {
    @include service-section($blue, $orange, white, $orange, 14px, $orange, 12px, 20px, false, 0px, 14px);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-row: 7 / 11;
      grid-column: 1 / 11;
      & > h2{
        margin-bottom: 5px;
      }
    }
    & > aside{
      grid-row: 2 / 9;
      grid-column: 1 / 11;
      display: grid;
      grid-template-rows: repeat(30, 7px);
      grid-template-columns: repeat(30, 1fr);
      & > .services_nos-services__img__design-graphisme{
        grid-row: 5 / 11;
        grid-column: 8 / 28;
      }
      & > .services_nos-services__img__communication{
        grid-row: 14 / 20;
        grid-column: 3 / 21;
      }
      & > .services_nos-services__img__site-internet{
        grid-row: 23 / 29;
        grid-column: 14 / 28;
      }
    }
  }


//.services_design
  .services_design {
    @include service-section(white, white, $blue, $blue, 14px, $blue, 10px, 15px, true, 5px, 9px);
    background: linear-gradient(to top, darken($orange, 2), lighten($orange, 2));
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-row: 10 / 14;
      grid-column: 1 / 11;
      & > h2{
        margin-bottom: 5px;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 15px;
        padding: 9px 20px;
        font-size: 11px;
      }
    }
    & > aside{
      background-image: url("../img/design-3D.png");
      background-size: 236px;
      background-repeat: no-repeat;
      background-position: right;
      grid-row: 2 / 9;
      grid-column: 1 / 11;
      position: relative;
      & > div{
        height: 10px;
        & > img{
          margin-left: 15px;
        }
      }
      & > .services_design__img__identite-graphique{
        position: absolute;
        top: 30px;
        right: 35%;
      }
      & > .services_design__img__support-print{
        position: absolute;
        top: 80px;
        right: 30%;
      }
      & > .services_design__img__site-support-de-communication{
        position: absolute;
        top: 130px;
        right: 35%;
      }
    }
  }


//.services_communication
  .services_communication {
    @include service-section($orange, white, $blue, $blue, 14px, $blue, 10px, 15px, true, 5px, 9px);
    background-color: white;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-row: 11 / 15;
      grid-column: 1 / 11;
      & > h2{
        margin-bottom: 5px;
        font-size: 31px!important;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 15px;
        padding: 9px 20px;
        font-size: 11px;
      }
    }
    & > aside{
      background-image: url("../img/communication-3D.png");
      background-size: 160px;
      background-repeat: no-repeat;
      background-position: right;
      grid-row: 2 / 10;
      grid-column: 1 / 11;
      position: relative;
      width: 280px;
      margin: 0px auto;
      & > div{
        height: 10px;
        & > img{
          margin-left: 15px;
        }
      }
      & > .services_communication__img__redaction-de-contenu{
        position: absolute;
        top: 80px;
        right: 30%;
      }
      & > .services_communication__img__reseaux-sociaux{
        position: absolute;
        top: 130px;
        right: 25%;
      }
      & > .services_communication__img__plan-de-communication{
        position: absolute;
        top: 180px;
        right: 32%;
      }
    }
  }


//.services_site-internet
  .services_site-internet {
    @include service-section(white, white, $blue, $blue, 14px, $blue, 10px, 15px, true, 5px, 9px);
    background: linear-gradient(to top, darken($orange, 2), lighten($orange, 2));
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-row: 11 / 15;
      grid-column: 1 / 11;
      & > h2{
        margin-bottom: 5px;
        font-size: 33px!important;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 15px;
        padding: 9px 20px;
        font-size: 11px;
      }
    }
    & > aside{
      background-image: url("../img/site-internet-3D.png");
      background-size: 220px;
      background-repeat: no-repeat;
      background-position: right;
      grid-row: 2 / 10;
      grid-column: 1 / 11;
      position: relative;
      width: 290px;
      margin: 0px auto;
      & > div{
        height: 10px;
        & > img{
          margin-left: 15px;
        }
      }
      & > .services_site-internet__img__realisation-de-maquette{
        position: absolute;
        top: 80px;
        right: 30%;
      }
      & > .services_site-internet__img__integration-du-site{
        position: absolute;
        top: 130px;
        right: 25%;
      }
      & > .services_site-internet__img__maintenance-du-site-internet{
        position: absolute;
        top: 180px;
        right: 38%;
      }
    }
  }
}

// -/ TABLET /-
@media (min-width: $mobile) and (max-width: $tablet){

//.services_nos-services
  .services_nos-services {
    @media (min-width: 950px){
      height: 350px!important;
    }
    @include service-section($blue, $orange, white, $orange, 12px, $orange, 13px, 20px, false, 0px, 14px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      width: 572px;
      grid-column: 2 / 11;
      @media (max-width: 950px){
        grid-row: 2 / 11;
      }
      @media (min-width: 950px){
        grid-row: 5 / 8;
      }
      & > p{
        width: 450px;
      }
      & > h2{
        margin-bottom: 5px;
      }
    }
    & > aside{
      @media (max-width: 950px){
        grid-row: 6 / 11;
      }
      @media (min-width: 950px){
        grid-row: 3 / 9;
      }
      grid-column: 1 / 12;
      position: relative;
      & > div{
        position: absolute;
      }
      & > .services_nos-services__img__design-graphisme{
        width: 300px;
        top: 10px;
        right: 70px;
      }
      & > .services_nos-services__img__communication{
        width: 270px;
        top: 80px;
        right: 140px;
      }
      & > .services_nos-services__img__site-internet{
        width: 250px;
        top: 150px;
        right: 70px;
      }
    }
  }


//.services_design
  .services_design {
    @media (min-width: 950px){
      height: 350px!important;
    }
    @include service-section(white, white, $blue, $blue, 12px, $blue, 10px, 18px, true, 6px, 10px);
    background: linear-gradient(to right, darken($orange, 2), lighten($orange, 2));
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 11;
      }
      @media (min-width: 950px){
        grid-row: 5 / 8;
      }
      & > h2{
        margin-bottom: 5px;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 20px;
        padding: 11px 22px;
        font-size: 12px;
      }
    }
    & > aside{
      background-image: url("../img/design-3D.png");
      background-size: 276px;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 6 / 11;
      }
      @media (min-width: 950px){
        grid-row: 2 / 9;
      }
      grid-column: 1 / 12;
      margin-right: 10px;
      position: relative;
      height: 300px;
      & > div{
        height: 10px;
        & > img{
          margin-left: 20px;
        }
      }
      & > .services_design__img__identite-graphique{
        position: absolute;
        top: 70px;
        right: 170px;
      }
      & > .services_design__img__support-print{
        position: absolute;
        top: 120px;
        right: 140px;
      }
      & > .services_design__img__site-support-de-communication{
        position: absolute;
        top: 170px;
        right: 170px;
      }
    }
  }


//.services_communication
  .services_communication {
    @media (min-width: 950px){
      height: 350px!important;
    }
    @include service-section($orange, white, $blue, $blue, 12px, $blue, 10px, 18px, true, 6px, 10px);
    background: white;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 11;
      }
      @media (min-width: 950px){
        grid-row: 5 / 8;
      }
      & > h2{
        margin-bottom: 5px;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 20px;
        padding: 11px 22px;
        font-size: 12px;
      }
    }
    & > aside{
      background-image: url("../img/communication-3D.png");
      background-size: 190px;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 5 / 11;
      }
      @media (min-width: 950px){
        grid-row: 1 / 10;
      }
      grid-column: 1 / 12;
      margin-right: 10px;
      position: relative;
      height: 310px;
      & > div{
        height: 10px;
        & > img{
          margin-left: 20px;
        }
      }
      & > .services_communication__img__redaction-de-contenu{
        position: absolute;
        top: 100px;
        right: 120px;
      }
      & > .services_communication__img__reseaux-sociaux{
        position: absolute;
        top: 150px;
        right: 90px;
      }
      & > .services_communication__img__plan-de-communication{
        position: absolute;
        top: 200px;
        right: 130px;
      }
    }
  }


//.services_site-internet
  .services_site-internet {
    @media (min-width: 950px){
      height: 350px!important;
    }
    @include service-section(white, white, $blue, $blue, 12px, $blue, 10px, 18px, true, 6px, 10px);
    background: linear-gradient(to right, darken($orange, 2), lighten($orange, 2));
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 11;
      }
      @media (min-width: 950px){
        grid-row: 5 / 8;
      }
      & > h2{
        margin-bottom: 5px;
      }
      & > a{
        @include basic-btn-no-hover(white, $blue, $blue);
        display: inline-block;
        margin-top: 20px;
        padding: 11px 22px;
        font-size: 12px;
      }
    }
    & > aside{
      background-image: url("../img/site-internet-3D.png");
      background-size: 305px;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 5 / 11;
      }
      @media (min-width: 950px){
        grid-row: 1 / 10;
      }
      grid-column: 1 / 12;
      margin-right: 10px;
      position: relative;
      height: 350px;
      & > div{
        height: 10px;
        & > img{
          margin-left: 20px;
        }
      }
      & > .services_site-internet__img__realisation-de-maquette{
        position: absolute;
        top: 100px;
        right: 180px;
      }
      & > .services_site-internet__img__integration-du-site{
        position: absolute;
        top: 150px;
        right: 150px;
      }
      & > .services_site-internet__img__maintenance-du-site-internet{
        position: absolute;
        top: 200px;
        right: 190px;
      }
    }
  }
}

// -/ SCREEN /-
@media (min-width: $tablet) and (max-width: $screen){

//.services_nos-services
  .services_nos-services {
    @include service-section($blue, $orange, white, $orange, 24px, $orange, 15px, 36px, false, 0px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 700px;
      }
      & > h2{
        margin-bottom: 8px;
      }
    }
    & > aside{
      grid-row: 3 / 10;
      grid-column: 13 / 21;
      position: relative;
      width: 500px;
      & > div{
        position: absolute;
      }
      & > .services_nos-services__img__design-graphisme{
        width: 380px;
        top: 30px;
        right: 10%;
      }
      & > .services_nos-services__img__communication{
        width: 350px;
        top: 130px;
        right: 18%;
      }
      & > .services_nos-services__img__site-internet{
        width: 320px;
        top: 230px;
        right: 10%;
      }
    }
  }

//.services_design
  .services_design{
    background: linear-gradient(135deg, darken($orange, 2), lighten($orange, 2));
    @include service-section(white, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 700px;
      }
      & > h2{
        margin-bottom: 8px;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/design-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 450px;
      grid-row: 1 / 12;
      grid-column: 11 / 21;
      position: relative;
      width: 600px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_design__img__identite-graphique{
        top: 110px;
        right: 220px;
      }
      & > .services_design__img__support-print{
        top: 190px;
        right: 190px;
      }
      & > .services_design__img__site-support-de-communication{
        top: 270px;
        right: 230px;
      }
    }
  }


//.services_communication
  .services_communication{
    background: white;
    @include service-section($orange, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 700px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 62px!important;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/communication-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 300px;
      grid-row: 1 / 12;
      grid-column: 11 / 21;
      position: relative;
      width: 600px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_communication__img__redaction-de-contenu{
        top: 140px;
        right: 190px;
      }
      & > .services_communication__img__reseaux-sociaux{
        top: 220px;
        right: 150px;
      }
      & > .services_communication__img__plan-de-communication{
        top: 300px;
        right: 190px;
      }
    }
  }


//.services_site-internet
  .services_site-internet{
    background: linear-gradient(135deg, darken($orange, 2), lighten($orange, 2));
    @include service-section(white, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 700px;
      }
      & > h2{
        margin-bottom: 8px;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/site-internet-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 450px;
      grid-row: 1 / 12;
      grid-column: 11 / 21;
      position: relative;
      width: 600px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_site-internet__img__realisation-de-maquette{
        top: 150px;
        right: 230px;
      }
      & > .services_site-internet__img__integration-du-site{
        top: 230px;
        right: 190px;
      }
      & > .services_site-internet__img__maintenance-du-site-internet{
        top: 310px;
        right: 230px;
      }
    }
  }
}


// -/ ULTRA WIDE /-
@media (min-width: $screen){

  //.services_nos-services
  .services_nos-services {
    @include service-section($blue, $orange, white, $orange, 28px, $orange, 16px, 40px, false, 0px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
      }
    }
    & > aside{
      grid-row: 3 / 10;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
      & > div{
        position: absolute;
      }
      & > .services_nos-services__img__design-graphisme{
        width: 380px;
        top: 30px;
        right: 10%;
      }
      & > .services_nos-services__img__communication{
        width: 350px;
        top: 130px;
        right: 18%;
      }
      & > .services_nos-services__img__site-internet{
        width: 320px;
        top: 230px;
        right: 10%;
      }
    }
  }

  //.services_design
  .services_design{
    background: linear-gradient(135deg, darken($orange, 2), lighten($orange, 2));
    @include service-section(white, white, $blue, $blue, 28px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/design-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 450px;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_design__img__identite-graphique{
        top: 110px;
        right: 220px;
      }
      & > .services_design__img__support-print{
        top: 190px;
        right: 190px;
      }
      & > .services_design__img__site-support-de-communication{
        top: 270px;
        right: 230px;
      }
    }
  }


  //.services_communication
  .services_communication{
    background: white;
    @include service-section($orange, white, $blue, $blue, 28px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/communication-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 300px;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_communication__img__redaction-de-contenu{
        top: 140px;
        right: 190px;
      }
      & > .services_communication__img__reseaux-sociaux{
        top: 220px;
        right: 150px;
      }
      & > .services_communication__img__plan-de-communication{
        top: 300px;
        right: 190px;
      }
    }
  }


  //.services_site-internet
  .services_site-internet{
    background: linear-gradient(135deg, darken($orange, 2), lighten($orange, 2));
    @include service-section(white, white, $blue, $blue, 28px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 68px;
      }
      & > a{
        @include basic-btn($blue);
        display: inline-block;
        margin-top: 20px;
        padding: 22px 50px;
        font-size: 22px;
      }
    }
    & > aside{
      background-image: url("../img/site-internet-3D.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 450px;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .services_site-internet__img__realisation-de-maquette{
        top: 150px;
        right: 230px;
      }
      & > .services_site-internet__img__integration-du-site{
        top: 230px;
        right: 190px;
      }
      & > .services_site-internet__img__maintenance-du-site-internet{
        top: 310px;
        right: 230px;
      }
    }
  }
}