//.site-internet_top-content

@media (max-width: $mobile) {
  .site-internet_top-content {
    @include service-section(white, white, $blue, $blue, 14px, $blue, 10px, 15px, true, 5px, 9px);
    height: 700px!important;
    background-color: $orange;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

    & > article {
      grid-row: 7 / 11;
      grid-column: 1 / 11;

      & > h1 {
        margin-bottom: 5px;
        font-size: 32px !important;
        letter-spacing: -2px;
      }
      & > p{
        line-height: 1.6;
      }
    }

    & > aside {
      background-image: url("../img/ordinateur.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      grid-row: 2 / 6;
      grid-column: 1 / 11;
      position: relative;
      width: 310px;
      margin: 0px auto;

      & > div {
        height: 6px;

        & > img {
          margin-left: 15px;
        }
      }

      & > .site-internet_top-content__img__btn__realisation-de-maquette {
        position: absolute;
        top: 100px;
        right: 40%;
      }

      & > .site-internet_top-content__img__btn__integration-du-site {
        position: absolute;
        top: 150px;
        right: 34%;
      }

      & > .site-internet_top-content__img__btn__maintenance-du-site-internet {
        position: absolute;
        top: 200px;
        right: 37%;
      }
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet){
  .site-internet_top-content {
    @media (min-width: 950px){
    height: 450px!important;
    }
    @media (max-width: 950px){
      height: 700px!important;
    }
    @include service-section(white, white, $blue, $blue, 15px, $blue, 10px, 18px, true, 8px, 10px);
    background: $orange;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 7;
      }
      @media (min-width: 950px){
        grid-row: 4 / 8;
      }
      & > h1{
        margin-bottom: 5px;
        letter-spacing: -3px;
        font-size: 49px!important;
      }
    }
    & > aside{
      background-image: url("../img/ordinateur.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 6 / 12;
      }
      @media (min-width: 950px){
        grid-row: 2 / 6;
      }
      grid-column-end: 11;
      margin-right: 10px;
      position: relative;
      width: 400px;
      height: 350px;
      & > div{
        height: 10px;
        & > img{
          margin-left: 20px;
        }
      }
      & > .site-internet_top-content__img__btn__realisation-de-maquette{
        position: absolute;
        top: 100px;
        right: 200px;
      }
      & > .site-internet_top-content__img__btn__integration-du-site{
        position: absolute;
        top: 150px;
        right: 150px;
      }
      & > .site-internet_top-content__img__btn__maintenance-du-site-internet{
        position: absolute;
        top: 200px;
        right: 170px;
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $screen){
  .site-internet_top-content{
    height: 650px!important;
    background: $orange;
    @include service-section(white, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 3 / 7;
      & > p{
        width: 600px;
      }
      & > h1{
        margin-bottom: 8px;
        font-size: 62px!important;
      }
    }
    & > aside{
      background-image: url("../img/ordinateur.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 12 / 22;
      position: relative;
      width: 555px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .site-internet_top-content__img__btn__realisation-de-maquette{
        top: 200px;
        right: 220px;
      }
      & > .site-internet_top-content__img__btn__integration-du-site{
        top: 280px;
        right: 170px;
      }
      & > .site-internet_top-content__img__btn__maintenance-du-site-internet{
        top: 360px;
        right: 192px;
      }
    }
  }
}

@media (min-width: $screen){
  .site-internet_top-content{
    height: 800px!important;
    background: $orange;
    @include service-section(white, white, $blue, $blue, 28px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 4 / 8;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
      }
    }
    & > aside{
      background-image: url("../img/ordinateur.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
      & > .site-internet_top-content__img__btn__realisation-de-maquette{
        top: 270px;
        right: 320px;
      }
      & > .site-internet_top-content__img__btn__integration-du-site{
        top: 350px;
        right: 270px;
      }
      & > .site-internet_top-content__img__btn__maintenance-du-site-internet{
        top: 430px;
        right: 285px;
      }
    }
  }
}

//.site-internet_realisation-de-maquette
@media (max-width: $mobile){
  .site-internet_realisation-de-maquette{
    background: white;
    @include service-section($blue, white, $blue, $blue, 12px, $blue, 15px, 36px, true, 10px, 16px);
    height: 700px!important;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-column: 1 / 11;
      grid-row: 6 / 11;
      & > p{
        line-height: 1.6;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 32px!important;
        letter-spacing: -2px;
      }
    }
    & > aside{
      background-image: url("../img/integration-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 6;
      grid-column: 1 / 11;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet){
  .site-internet_realisation-de-maquette {
    @media (min-width: 950px){
      height: 450px!important;
    }
    @media (max-width: 950px){
      height: 700px!important;
    }
    @include service-section($blue, white, $blue, $blue, 13px, $blue, 10px, 18px, true, 8px, 10px);
    background: white;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 7;
      }
      @media (min-width: 950px){
        grid-row: 4 / 8;
      }
      & > h2{
        margin-bottom: 5px;
        letter-spacing: -3px;
      }
    }
    & > aside{
      background-image: url("../img/integration-3d.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 6 / 11;
      }
      @media (min-width: 950px){
        grid-row: 2 / 6;
      }
      grid-column-end: 12;
      margin-right: 10px;
      position: relative;
      width: 400px;
      height: 350px;
    }
  }
}

@media (min-width: $tablet) and (max-width: $screen){
  .site-internet_realisation-de-maquette{
    height: 650px!important;
    background: white;
    @include service-section($blue, white, $blue, $blue, 18px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 6 / 10;
      & > p{
        width: 600px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 40px!important;
      }
    }
    & > aside{
      background-image: url("../img/integration-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 12 / 22;
      position: relative;
      width: 550px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
    }
  }
}

@media (min-width: $screen){
  .site-internet_realisation-de-maquette{
    background: white;
    height: 800px!important;
    @include service-section($blue, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 6 / 10;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 55px!important;
      }
    }
    & > aside{
      background-image: url("../img/integration-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
    }
  }
}


//.site-internet_integration-de-maquette
@media (max-width: $mobile){
  .site-internet_integration-de-maquette{
    background: white;
    @include service-section($blue, white, $blue, $blue, 12px, $blue, 15px, 36px, true, 10px, 16px);
    height: 700px!important;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-column: 1 / 11;
      grid-row: 6 / 11;
      & > p{
        line-height: 1.6;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 32px!important;
        letter-spacing: -2px;
      }
    }
    & > aside{
      background-image: url("../img/maquette-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 6;
      grid-column: 1 / 11;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet){
  .site-internet_integration-de-maquette {
    @media (min-width: 950px){
      height: 450px!important;
    }
    @media (max-width: 950px){
      height: 700px!important;
    }
    @include service-section($blue, white, $blue, $blue, 13px, $blue, 10px, 18px, true, 8px, 10px);
    background: white;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column-end: 11;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 7;
      }
      @media (min-width: 950px){
        grid-row: 4 / 8;
      }
      & > h2{
        margin-bottom: 5px;
        letter-spacing: -3px;
      }
    }
    & > aside{
      background-image: url("../img/maquette-3d.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 6 / 11;
      }
      @media (min-width: 950px){
        grid-row: 2 / 6;
      }
      grid-column: 2 / 11 ;
      margin-right: 10px;
      position: relative;
      width: 400px;
      height: 350px;
    }
  }
}

@media (min-width: $tablet) and (max-width: $screen){
  .site-internet_integration-de-maquette{
    height: 650px!important;
    background: white;
    @include service-section($blue, white, $blue, $blue, 18px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 12 / 22;
      grid-row: 6 / 10;
      & > p{
        width: 600px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 40px!important;
      }
    }
    & > aside{
      background-image: url("../img/maquette-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 2 / 11;
      position: relative;
      width: 550px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
    }
  }
}

@media (min-width: $screen){
  .site-internet_integration-de-maquette{
    background: white;
    height: 800px!important;
    @include service-section($blue, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 800px;
      grid-row: 6 / 10;
      grid-column: 12 / 21;
      & > h2{
        margin-bottom: 8px;
        font-size: 55px!important;
      }
    }
    & > aside{
      background-image: url("../img/maquette-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 3 / 11;
      position: relative;
      width: 680px;
    }
  }
}

//.site-internet_maintenance-du-site
@media (max-width: $mobile){
  .site-internet_maintenance-du-site{
    background: white;
    @include service-section($blue, white, $blue, $blue, 12px, $blue, 15px, 36px, true, 10px, 16px);
    height: 700px!important;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    & > article{
      grid-column: 1 / 11;
      grid-row: 6 / 11;
      & > p{
        line-height: 1.6;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 32px!important;
        letter-spacing: -2px;
      }
    }
    & > aside{
      background-image: url("../img/maintenance-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 6;
      grid-column: 1 / 11;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet){
  .site-internet_maintenance-du-site {
    @media (min-width: 950px){
      height: 450px!important;
    }
    @media (max-width: 950px){
      height: 700px!important;
    }
    @include service-section($blue, white, $blue, $blue, 13px, $blue, 10px, 18px, true, 8px, 10px);
    background: white;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    & > article{
      grid-column: 2 / 11 ;
      width: 400px;
      @media (max-width: 950px){
        grid-row: 2 / 7;
      }
      @media (min-width: 950px){
        grid-row: 4 / 8;
      }
      & > h2{
        margin-bottom: 5px;
        letter-spacing: -3px;
      }
    }
    & > aside{
      background-image: url("../img/maintenance-3d.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 950px){
        grid-row: 6 / 11;
      }
      @media (min-width: 950px){
        grid-row: 2 / 6;
      }
      grid-column-end: 12;
      margin-right: 10px;
      position: relative;
      width: 400px;
      height: 350px;
    }
  }
}

@media (min-width: $tablet) and (max-width: $screen){
  .site-internet_maintenance-du-site{
    height: 650px!important;
    background: white;
    @include service-section($blue, white, $blue, $blue, 18px, $blue, 15px, 36px, true, 10px, 16px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 600px;
      grid-column: 2 / 11;
      grid-row: 6 / 10;
      & > p{
        width: 600px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 40px!important;
      }
    }
    & > aside{
      background-image: url("../img/maintenance-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 12 / 22;
      position: relative;
      width: 550px;
      & > div{
        position: absolute;
        & > img{
          margin-left: 30px;
        }
      }
    }
  }
}

@media (min-width: $screen){
  .site-internet_maintenance-du-site{
    background: white;
    height: 800px!important;
    @include service-section($blue, white, $blue, $blue, 24px, $blue, 15px, 36px, true, 10px, 18px);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(20, 1fr);
    & > article{
      width: 900px;
      grid-column: 3 / 11;
      grid-row: 6 / 10;
      & > p{
        width: 800px;
      }
      & > h2{
        margin-bottom: 8px;
        font-size: 55px!important;
      }
    }
    & > aside{
      background-image: url("../img/maintenance-3d.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      grid-row: 1 / 12;
      grid-column: 13 / 21;
      position: relative;
      width: 680px;
    }
  }
}

//.site-internet_devis
.site-internet_devis{
  @include mail-contact();
}
