// -/ GENERAL /-
.header_top-nav{
  background-color: $orange;
  & *{
    color: white;
    font-family: 'Comfortaa', cursive;
  }
}

// -/ MOBILE & TABLET /-
@media (max-width: $mobile) {
  .header_top-nav{
    padding: 20px 0px 0px 35px;
    &__logo{
      width: 156px;
    }
    &__internal-link-list{
      & *{
        display: none;
      }
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
.header_top-nav{
  padding: 30px 0px 0px 50px;
  &__logo{
    width: 220px;
  }
  &__internal-link-list{
    & *{
      display: none;
    }
  }
}
}


// -/ DESKTOP /-
@media (min-width: $tablet) {
  .header_top-nav{
    padding: 50px 50px 0px 150px;
    display: grid;
    &__logo{
      width: 256px;
      grid-row: 1;
      grid-column: 1;
    }
    &__mobile-btn{
      display: none;
    }
    &__internal-link-list{
      display: flex;
      justify-content: space-around;
      grid-row: 1;
      grid-column: 2;
      & > li{
        margin-top: 26px;
        & > a{
          @include nav-header-btn(white, $blue);
        }
      }
    }
  }
}

@media (min-width: $screen) {
  .header_top-nav{
    &__logo{
      width: 312px;
    }
    &__internal-link-list{
      & > li{
        & > a{
          font-size: 30px!important;
        }
      }
    }
  }
}
