.header-other-colors > nav{
  background-color: white!important;
  & > div{
    & > div{
      & > div{
        background-color: $orange!important;
      }
      &::after{
        background-color: $orange!important;
      }
      &::before{
        background-color: $orange!important
      }
    }
  }
  & > ul{
    & > li{
      & > a{
        color: $blue!important;
        font-weight: 700;
        @include nav-header-btn($blue, $orange!important);
      }
    }
  }
}

// -/ GENERAL /-
.header_top-nav{
  background-color: $orange;
  & *{
    color: white;
    font-family: 'Comfortaa', cursive;
  }
}
.header_mobile-top-nav{
  display: none;
}

// -/ MOBILE & TABLET /-
@media (max-width: $mobile) {
  .header_mobile-top-nav{
    z-index: 100;
    display: block;
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: rgb(242, 242, 242);
    top: -700px;
    left: 0px;
    transition: all 400ms ease-in-out;
    & > .header_mobile__top-nav__internal-link-list{
      display: block;
      height: 200px;
      width: 100%;
      margin: 250px auto;
      & > li {
        text-align: center;
        margin: 25px;
        &> a{
          @include nav-header-btn($blue, $orange);
          margin: 20px;
          font-weight: 700;
          font-size: 24px;
        }
      }
    }
    & > .header_mobile-top-nav__cross{
      background: url("../img/blue-cross.png") center;
      position: absolute;
      right: 40px;
      top: 30px;
      width: 32px;
      height: 32px;
    }
  }
  .header_mobile-top-nav__show{
    transform: translateY(700px);
  }
  .header_top-nav{
    padding: 20px 0px 0px 35px;
    display: flex;
    justify-content: space-between;
    &__logo{
      width: 156px;
    }
    &__internal-link-list{
      & *{
        display: none;
      }
    }
    &__mobile-btn{
      display: inline-block;
      height: 35px;
      width: 45px;
      position: absolute;
      right: 30px;
      top: 30px;
      & > div{
        height: 35px;
        width: 45px;
        @include top-mobile-hamburger(white, 0px);
      }
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
  .header_mobile-top-nav{
    z-index: 100;
    display: block;
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: rgb(242, 242, 242);
    top: -700px;
    left: 0px;
    transition: all 400ms ease-in-out;
    & > .header_mobile__top-nav__internal-link-list{
      display: block;
      height: 200px;
      width: 100%;
      margin: 250px auto;
      & > li {
        text-align: center;
        margin: 30px;
        &> a{
          @include nav-header-btn($blue, $orange);
          margin: 20px;
          font-weight: 700;
          font-size: 32px;
        }
      }
    }
    & > .header_mobile-top-nav__cross{
      background: url("../img/blue-cross.png") center;
      position: absolute;
      right: 40px;
      top: 30px;
      width: 32px;
      height: 32px;
    }
  }
  .header_mobile-top-nav__show{
    transform: translateY(700px);
  }
.header_top-nav{
  padding: 30px 0px 0px 50px;
  &__logo{
    width: 220px;
  }
  &__internal-link-list{
    & *{
      display: none;
    }
  }
  &__mobile-btn{
    display: inline-block;
    height: 35px;
    width: 45px;
    position: absolute;
    right: 50px;
    top: 50px;
    & > div{
      height: 35px;
      width: 45px;
      @include top-mobile-hamburger(white, 0px);
    }
  }
}
}


// -/ DESKTOP /-
@media (min-width: $tablet) {
  .header_top-nav{
    padding: 50px 50px 0px 150px;
    display: grid;
    &__logo{
      width: 256px;
      grid-row: 1;
      grid-column: 1;
    }
    &__mobile-btn{
      display: none;
    }
    &__internal-link-list{
      display: flex;
      justify-content: space-around;
      grid-row: 1;
      grid-column: 2;
      & > li{
        margin-top: 26px;
        & > a{
          @include nav-header-btn(white, $blue);
        }
      }
    }
  }
}

@media (min-width: $screen) {
  .header_top-nav{
    &__logo{
      width: 312px;
    }
    &__internal-link-list{
      & > li{
        & > a{
          font-size: 30px!important;
        }
      }
    }
  }
}
